@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linkActive {
    @apply text-gray-500 border-b-2 border-gray-500;
  }
  .underlineAnimation {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  .underlineAnimation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  .underlineAnimation:hover::after {
    width: 100%;
  }
}
@keyframes slideshow {
  0%,
  20% {
    opacity: 0;
  }
  20.1%,
  70% {
    opacity: 1;
  }
  70.1%,
  100% {
    opacity: 0;
  }
}

.animate-slideshow {
  animation: slideshow 9s infinite ease-out; /* Total duration and easing */
}

.animate-slideshow {
  animation: slideshow 9s infinite ease-out;
}
.delay-0 {
  animation-delay: 0s;
}
.delay-3s {
  animation-delay: 3s;
}
.delay-6s {
  animation-delay: 6s;
}
